body{
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
button{
    border: unset;
    outline: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
ul{
    padding: 0;
    list-style: none;
}
@font-face{
    font-family: 'RobotoBold';
    src: url('../plugin/Roboto-Bold.ttf');
  }
  @font-face{
    font-family: 'RobotoRegular';
    src: url('../plugin/Roboto-Regular.ttf');
  }
  @font-face{
    font-family: 'RobotoLight';
    src: url('../plugin/Roboto-Light.ttf');
  }
.wrap-page1{
    background: url("../img/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.item-menu{
    text-align: center;
    margin: 0 20px;
    display: inline-block;
}

.classScroll{
    background: url("../img/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
}
@media (max-width: 745px){
    .classScroll{
        background:unset;
    }
}
.item-menu>a{
    color: #ccc;
    text-decoration: none;
    font-family: RobotoRegular;
    font-size: 13px;
}
.box-item{
    margin: 0 70px;
}
.txt-page1{
    color:#fff;
    align-items: center;
    height: 100vh;
    display: flex;
}
.wrap-page1>.container>.row{
    justify-content: center;
    align-items: center;
}
.txt-page1>div{
    text-align:center;
}
.txt-page1>div>p{
    margin: 10px 0px;
}
.wrap-page2{
    background: #fff;
    height: 100%;
    display: flex;
    padding-bottom: 80px;
    padding-top: calc(90px + 80px);
    align-items: center;
}
.box-txt-page2, .box-txt-page3,  .box-txt-page4{
    display: flex;
    align-items: center;
}
.wrap-page3{
    background: #f7f7f7;
    height: 100%;
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.wrap-page4{
    background: #fff;
    height: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.wrap-page5{
    background: #f7f7f7;
    height: 360px;
    display: flex;
    align-items: center;
}
footer{
    background: #000000;
    padding-bottom: 70px;

}
.menu-footer{
    padding-top: 130px;
    padding-bottom: 50px;
}
.box-item-footer{
    padding: 0px;
}
.box-item-footer>li a::before{
    font-family: FontAwesome;
    font-size: 13px;
    content: '\f054';
    margin-right: 10px;
    vertical-align: baseline;
}
.title-footer{
    color:#7f7f7f;
    font-family: RobotoLight;
    font-size: 25px;
}
.box-item-footer li{
    margin-bottom: 15px;
}
.box-lien-he>li{
    color:#7f7f7f;
    margin: 20px 0;
}
.box-lien-he>li div{
    display: inline-block;
    vertical-align: middle;
}
.box-lien-he>li>div img{
    vertical-align: middle;
    margin-right: 15px;
}
.box-lien-he>li span{
    vertical-align: middle;
}
.row2-footer>.col-6+.col-6>a{
    margin: 0 20px;
}
.row2-footer{
    margin-top: 20px;
}
#img-page5{
    vertical-align: bottom;
}
.wrap-page5>.container>.row>.col-xl-6+.col-xl-6{
    text-align: center;
    vertical-align: bottom;
    margin-top: 160px;
}
.wrap-page5>.container>.row>.col-xl-6:first-child{
    text-align: center;
    margin-top: 130px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
}
.item-menu a{
    color:#ffffff;
}
.btn-try{
    padding: 9px 20px;
    background: #fff;
    border-radius: 15px;    
    margin-right: 7px;
}
.btn-login{
    padding: 9px 20px;
    background: #1272c4;
    border-radius: 15px;
    color:#fff;
    margin-left: 7px;

}
.txt-page1>div>p:first-child{
    font-size: 27px;
    font-family: RobotoBold;
}
.txt-page1>div>p:first-child+p{
    font-size: 27px;
    font-family: RobotoLight;
    font-weight: 400;
}
.txt-page1>div>p:first-child+p+p{
    font-size: 43px;
    font-family: RobotoRegular;
}
.txt-page1>div>button{
        border-radius: 15px;
        background-color: rgb( 255, 153, 0 );
        padding: 13px 10px;
        font-size: 20px;
        color:#fff;
    font-family: RobotoRegular;
    margin-top: 15px;
      
}
.box-txt-page2>div>p:first-child{
    font-size: 27px;
    font-family: RobotoBold;
    margin-bottom: 30px;

}
.box-txt-page2>div>p:first-child+p{
    font-size: 16px;
    font-family: RobotoRegular;
    margin-bottom: 30px;
    color:#666666;

}
.box-txt-page2>div>button{
    border-radius: 15px;
        background-color: rgb( 255, 153, 0 );
        padding: 13px 10px;
        font-size: 20px;
        color:#fff;
    font-family: RobotoRegular;
}
.box-txt-page3>div>p:first-child{
    font-size: 27px;
    font-family: RobotoBold;
    margin-bottom: 30px;
}
.box-txt-page3>div>p:first-child+p{
    font-size: 16px;
    font-family: RobotoRegular;
    margin-bottom: 30px;
    color:#666666;

}
.box-txt-page3>div>button{
   
        font-size: 20px;
        color:#fff;
    font-family: RobotoRegular;
}
.btn-page3-1{
    background: #269fd9;
    padding: 5px 15px;
    border-radius: unset;
}
.btn-page3-1>img{
    vertical-align: middle;
}
.btn-page3-1>span{
    vertical-align: middle;
}
.btn-page3-2{
    background: #000000;
    padding: 5px 15px;
    border-radius: unset;
    margin-left: 10px;
}
.btn-page3-2>img{
    vertical-align: middle;
}
.btn-page3-2>span{
    vertical-align: middle;
}
.box-txt-page4>div>p:first-child{
    font-size: 27px;
    font-family: RobotoBold;
    margin-bottom: 30px;
}
.box-txt-page4>div>p:first-child+p{
    font-size: 16px;
    font-family: RobotoRegular;
    margin-bottom: 30px;
    color:#666666;

}
.box-txt-page4>div>button{
   
        font-size: 20px;
        color:#fff;
    font-family: RobotoRegular;
}
#btn-page5{
    background: #333333;
}
.menu-footer>div>a>img{
    vertical-align: middle;
}
.menu-footer>div>a>span{
    vertical-align: middle;
    margin-left: 10px;
}
.menu-footer>div>a{
    color:#fff;
    font-family: RobotoRegular;
    font-size: 17px;
}
.box-item-footer li a{
    font-family: RobotoRegular;
    font-size: 15px;
    color:#787878;

}
.social>div a{
    margin: 0 15px;  
}
.social{
    display: flex;
    align-items: center;
}
@media (max-width: 1200px){
    .wrap-page2>.container>.row>.col-sm-12{
        text-align: center;
    }
    .wrap-page2>.container>.row{
        margin-top: 20vh;
    }
    .wrap-page2{

    }
    .box-txt-page2{
        margin-top: 20px;
    }
    .box-txt-page2>div{
        margin: 0 auto;
    }
    .box-txt-page3>div{
        text-align: center;
        margin: 0 auto;
    }
    .wrap-page3>.container>.row>.col-sm-12+.col-sm-12{
        text-align: center;
    }
    .wrap-page3>.container>.row{
        flex-direction: column-reverse;
    }
    .box-txt-page3{
        margin-top: 30px;
    }
    .box-txt-page4>div{
        text-align: center;
        margin: 0 auto;
    }
    .wrap-page4>.container>.row>.col-sm-12+.col-sm-12{
        text-align: center;
    }
    .wrap-page4>.container>.row>.col-sm-12:first-child{
        margin-top: 30px;
    }
    .box-txt-page4{
        margin-top: 30px;
    }
    .wrap-page5{
        height: 100%;
    }
    .wrap-page5>.container>.row{
        flex-direction: column-reverse;
    }
    .wrap-page5>.container>.row>.col-xl-6:first-child{
        margin-top: 65px;
        margin-bottom: 30px;
    }
    .wrap-page2{
        padding-top: 50px;
    }
    .menu-footer div{
        margin-bottom: 20px;
    }
    .social{
        text-align: center;
        margin-top: 30px;
    }
    .box-item {
        margin: 0 25px;
    }
    .header{
        display: block;
        height: 85px;
        padding-top: 10px;
        text-align: center;
    }
    .logo{
        text-align: center;
        width: 100%;
    }
    .box-item, .box-btn-menu{
        display: inline-block;
    }
    
}
@media (max-width: 992px){
    .item-menu {
        margin: 0 10px;
    }
    .box-item {
        margin: 0 10px;
    }
}
.topnav {
    background-color: #000;
    opacity: 0.8;

  }
  .item-menu-mobile{
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .topnav>.btn-menu-mobile:first-child{
    
  }
  .active, .icon {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .icon{
    float: left;

  }
  .topnav a{
    font-family: RobotoRegular;

  }
  .topnav a:hover {
    color: #ddd;
  }
  
  .active {
    /* background-color: #4CAF50; */
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .topnav{
    display: none;

  }
  .icon{
    font-size: 40px !important;
  }
  @media screen and (max-width: 745px) {
    /* .topnav a:not(:first-child) {
        display: none;
    } */
    .topnav a.icon {
      float: right;
      display: block;
    }
    /* .box-item-mm>.item-menu-mobile:first-child{
        display: none;
    } */
  }
  
  @media screen and (max-width: 745px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .item-menu-mobile:first-child{ display: block; }
    
    .topnav.responsive .btn-menu-mobile {
        display: inline-block;
      }
  }
@media (max-width: 745px){
    .topnav{
        display: block;
        position: relative;
    display: flex;
    justify-content: space-between;
      }
    .box-item, .box-btn-menu, .logo{
        display: none;
    }
    .header{
        padding-top: 0;
    }
    
}
 
    .box-item-mm{
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 10000;
        background: #000;
        left: 0;
        padding: 25px;

    }
    .box-item-mm>div{
        border: 1px solid  #ccc;
    }
    .item-menu-mobile{
        padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
    font-family: RobotoRegular;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
        text-align:left;
    }
    .btn-menu-mobile{
        display: inline-block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #f2f2f2;
        font-family: RobotoRegular;

    }
    /* .box-item-mm {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        } */
        @-webkit-keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
        @keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 
@media (max-width: 768px){
.menu-footer .col-6{
    padding: 0 10px;
}
}
